$themeColor = #4fc08d
$themeColorDeep = #42b983
$bgColor = #fafafa
$toast-success = #42b983
$toast-error = #FF3030

$width = 1000px

$menuFont = 'fangzhengqitijianti'//方正启体简体
$themeFont = 'fangzhengqingkebenyuesongjianti'//方正清刻本悦宋简体
